<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>🌼 Gazânia System </title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css">
</head>

<body>

	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="/home">Gazânia system - Estoque</a>
		
	</nav>	

	<div class="container">	

		<nav class="mt-3" aria-label="breadcrumb">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item" aria-current="page"><a href="/home">Home</a></li>
			  <li class="breadcrumb-item active" aria-current="page">Estoque</li>
			</ol>
		  </nav>

		<h1 class="text-center title">Estoque</h1>
		
		<div class="row">
			<div class="col">
				<form class="w-50" th:action="@{/estoque/buscar}" th:method="post">
					<div class="form-group">
						<label for="categoria">Buscar por categoria</label>
						<select class="form-control w-50" th:name="categoria" id="categoria">
								<option th:value="TODAS">Todas</option>
							<option th:value="FERRAMENTA">Ferramentas</option>
							<option th:value="PRODUTO">Produtos</option>
							<option th:value="EQUIPAMENTO">Equipamentos</option>
						</select>
						<button class="btn btn-primary mt-3" type="submit">Buscar</button>
					</div>
				</form>
			</div>
			<div class="col">
				<div class="d-flex justify-content-end">
					<button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#cadastrar">Cadastrar</button>
				</div>
			</div>
		</div>
		
		<table class="table table-striped mt-5">
			<thead>
				<th scope="col">Item</th>
				<th scope="col">Categoria</th>
				<th scope="col">Quantidade</th>
				<th scope="col">...</th>
			</thead>
			<tbody>
				<tr th:each=" item : ${itens}">
					<td><span th:text="${item.nome}"></span></span></td>
					<td><span th:text="${item.categoria}"></span></td>
					<td><span th:text="${item.quantidade}"></span></td>
					<td>
					<a class=" bt btn btn-small btn-light" th:href="@{/estoque/entrada/{id}(id = ${item.id})}">+</a>
					<a class=" bt btn btn-small btn-light" th:href="@{/estoque/retirada/{id}(id = ${item.id})}">-</a>
					<a class=" bt btn btn-small btn-danger" th:href="@{/estoque/remover/{id}(id = ${item.id})}" onclick="return confirm('Deseja realmente excluir?')">X</a>
					</td>
					
				</tr>
			</tbody>
		</table>


		<!-- Modal -->
<div class="modal fade" id="cadastrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Cadastrar Item</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <form th:action="@{/estoque}" method="post">
			<div class="form-group">
				<label for="">Nome</label>
				<input type="text" class="form-control" th:name="nome">
			</div>
			<div class="form-group">
				<label for="">Quantidade</label>
				<input type="number" class="form-control w-50" th:name="quantidade">
			</div>
			<div class="form-group">
				<label for="">Categoria</label>
				<select class="form-control w-50" th:name="categoria" id="categoria">
					<option th:value="FERRAMENTA">Ferramentas</option>
					<option th:value="PRODUTO">Produtos</option>
					<option th:value="EQUIPAMENTO">Equipamentos</option>
				</select>
			</div>
			<div class="form-group mt-3">
				<button type="submit" class="btn btn-success">Cadastrar</button>
			</div>
		  </form>
		</div>
		
	  </div>
	</div>
  </div>
			

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
</body>

</html>