<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>🌼 Gazânia System </title>
	<link rel="stylesheet" href="/style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="/home">Gazânia system - Serviços</a>
	</nav>

	<div class="container">

		<nav class="mt-3" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page"><a href="/home">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Serviços</li>
			</ol>
		</nav>


		<h1 class="text-center mt-3">
			<p>Serviços</p>
		</h1>

		<div class="d-flex flex-row justify-content-between">

			<div class="d-flex flex-column">
				<p>
					<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
						aria-expanded="false" aria-controls="collapseExample">
						Filtrar Serviços
					</a>
				</p>

				<div class="collapse" id="collapseExample">
					<form th:action="@{/servicos/filtrar}" method="post">
						<div class="form-group">
							<input class="form-control" type="text" th:name="periodo" placeholder="Ano-mês"
								onkeypress="$(this).mask('0000-00')">
							<label for="">Status do Serviço</label>
							<select class="form-control" th:name="statusDoServico">
								<option th:value="TODOS">Todos</option>
								<option th:value="EM_ABERTO">Aberto</option>
								<option th:value="FINALIZADO">Finalizado</option>
							</select>
							<button class=" ml-3 btn btn-primary mt-3" type="submit">Filtrar</button>
						</div>
					</form>
				</div>
			</div>

			<div>
				<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#novoServico">
					Novo Serviço</button>
			</div>

		</div>

		<table class="table table-striped mt-5">
			<thead>
				<tr>

					<th scope="col">Período</th>
					<th scope="col">Serviço</th>
					<th scope="col">Cliente</th>
					<th scope="col">Status Serviço</th>
					<th scope="col">Status Pagamento</th>
					<th scope="col">Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos}">


					<td><a class="card-link text-success" th:href="@{/servicos/{id} (id = ${servico.id})}">Serviço <span
								th:text="${servico.periodo}"></span></a></td>
					<td><span th:text="${servico.contrato.servicoContratado.getName()}"></span></td>
					<td><a class="card-link text-dark" th:href="@{/clientes/{id}(id = ${servico.cliente.id})}"><span
								th:text="${servico.cliente.nome}"></a></span></td>
					<td><span th:text="${servico.statusDoServico}"></span></td>
					<td><span th:text="${servico.statusDoPagamento}"></span></td>
					<td><span th:text="${servico.getValorToString}"></span></td>
				</tr>
			</tbody>
		</table>

	</div>


	<div class="modal fade" id="novoServico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Novo Serviço</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form th:action="@{/servicos}" th:method="post" th:object="${novoServicoDto}">

						<div class="form-group w-50">
							<label>PERÍODO</label>
							<input id="data" class="form-control" type="text" onkeypress="$(this).mask('00-0000')"
								th:name="periodo" placeholder="Mês-Ano" required="true">
						</div>
						<div class="form-group">
							<label>Selecione o cliente</label>
							<select class="form-control" th:name="clienteId">
								<div class="form-group" th:each="cliente : ${clientes}">
									<option th:value="${cliente.id}">
										<span th:text="${cliente.nome}"></span>
									</option>
								</div>
							</select>
						</div>
						<div class="card mt-3">
							<div class="card-body">

								<p class="subTitle mb-3">Contrato</p>

								<div class="form-group">
									<label>SERVIÇO CONTRATADO</label>
									<select id="contrato" class="form-control" th:name="contrato.servicoContratado">
										<option th:value="JARDINAGEM" selected>Manutenção de Jardim</option>
										<option th:value="PISCINA">Manutenção de Piscina</option>
										<option th:value="JARDINAGEM_E_PISCINA">Manutenção de Jardim e Piscina</option>
									</select>
								</div>
								
								<div ID="frequencia" class="form-group mt-3">
									<label>FREQUÊNCIA DAS MANUTENÇÕES DE JARDIM</label>
									<select class="form-control" th:name="contrato.escala">
										<option th:value="SEMANAL">Semanal</option>
										<option th:value="QUINZENAL">Quinzenal</option>
										<option th:value="MENSAL">Mensal</option>
									</select>
								</div>
								<div class="form-group mt-3">
									<label id="valorPiscinaJardim">VALOR VISITA JARDIM</label>
									<input class="form-control w-50" type="number" th:name="contrato.valorDaVisita"
										th:value="0" step="0.01" required="true">
								</div>

								<div id="jardimPiscina" style="display: none;">

									<div class="form-group mt-3">
										<label>VALOR MANUTENÇÃO DE PISCINA</label>
										<input class="form-control w-50" type="number"
											th:name="contrato.valorDaVisitaPiscina" step="0.01" th:value="0">
									</div>

								</div>

							</div>
						</div>

						<div class="form-group mt-3">
							<button class="btn btn-sm btn-success" type="submit">Cadastrar</button>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>


	<script>
		$('#contrato').change(function () {
			if ($(this).val() === 'JARDINAGEM_E_PISCINA') {
				$('#jardimPiscina').show();
			} else {
				$('#jardimPiscina').hide();
			}
		});

		$('#contrato').change(function () {
			if ($(this).val() === 'PISCINA') {
				$('#frequencia').hide();
			} else {
				$('#frequencia').show();
			}
		});
		$('#contrato').change(function () {
			if ($(this).val() === 'PISCINA') {
				document.getElementById('valorPiscinaJardim').innerText = "VALOR MANUTENÇÃO PISCINA"
			} else {
				document.getElementById('valorPiscinaJardim').innerText = "VALOR VISITA JARDIM"
			}
		});

	</script>
	<script>
		$(document).ready(function () {
			// Seleciona o campo que deseja validar
			var campo = $('#data');

			// Adiciona o evento blur para o campo
			campo.blur(function () {
				// Obtém o valor do campo
				var valor = campo.val();

				// Verifica se o valor corresponde ao formato MM-YYYY
				var regex = /^(0[1-9]|1[0-2])-(20\d{2})$/;
				if (!regex.test(valor)) {
					// Exibe mensagem de erro
					alert('Por favor, insira uma data no formato MM-YYYY.');

					// Limpa o campo
					campo.val('');
				}
			});
		});

	</script>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
</body>

</html>